<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App 1
    </ion-title>
    <ion-button slot="end" (click)="close()">Close</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Network Status</h1><br />
    Connected={{status.connected}} Type={{status.connectionType}}
  </div>
</ion-content>